<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ma.crm.workbench.mapper.ActivityMapper">

    <resultMap id="activityremarkmap" type="activity">
        <id property="id" column="id"/>
        <result property="owner" column="owner"/>
        <result property="name" column="name"/>
        <result property="startDate" column="startDate"/>
        <result property="endDate" column="endDate"/>
        <result property="cost" column="cost"/>
        <result property="description" column="description"/>
        <result property="createTime" column="createTime"/>
        <result property="createBy" column="createBy"/>
        <result property="editTime" column="editTime"/>
        <result property="editBy" column="editBy"/>
        <association property="user" javaType="user">
            <id property="id" column="uid"></id>
            <result property="name" column="uname"></result>
        </association>
        <collection property="remarks" ofType="activityRemark" >
            <id property="id" column="arid"/>
            <result property="noteContent" column="noteContent"/>
            <result property="createTime" column="arcreateTime"/>
            <result property="createBy" column="arcreateBy"/>
            <result property="editTime" column="areditTime"/>
            <result property="editBy" column="areditBy"/>
            <result property="editFlag" column="editFlag"/>
            <result property="activityId" column="activityId"/>
        </collection>
    </resultMap>

    <!--查询acyivity的所有信息-->
    <select id="queryAllActivity" resultType="map">
        select a.*,u.name uname from tbl_activity a left join tbl_user u on a.owner=u.id
        <where>
            <if test="name!=null and name!=''">
                a.name like concat("%",#{name},"%")
            </if>
            <if test="owner!=null and owner!=''">
                and u.name like concat("%",#{owner},"%")
            </if>
            <if test="startDate!=null and startDate!=''">
                and startDate > #{startDate}
            </if>
            <if test="endDate!=null and endDate!=''">
                and #{endDate} > endDate
            </if>
        </where>
    </select>

    <!--查询所有activity 以及activityremark的信息-->
    <select id="queryActivityDetailById" resultMap="activityremarkmap">
    select a.*,u.name uname,u.id uid,ar.id arid,noteContent,ar.createTime arcreateTime,
     ar.createBy arcreateBy,ar.editTime areditTime,ar.editBy areditBy,editFlag,activityId
      from tbl_activity a left join tbl_user u on a.owner=u.id
    left join tbl_activity_remark ar on a.id=ar.activityId where a.id=#{id}
    </select>


</mapper>